{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }} not found
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
        <div style="margin-bottom: 20px;">
            Sorry but there was no such thing found in our database. Please check whether you misspelled the search query. Otherwise please check if you weren't searching for:
        </div>
        {% for entry in entries %}
        <a href="{% url 'search' %}?q={{ entry }}">{{ entry }}</a>
        {% endfor %}
        <div style="margin-top: 50px;">
            We're sorry if you haven't found your query. Consider adding the entry yourself!<br>
            <a href="{% url 'index' %}">Go back home</a>
        </div>
{% endblock %}